body {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

button {
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
}

